# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# GitHub OAuth
GITHUB_ID="your_github_client_id"
GITHUB_SECRET="your_github_client_secret"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_nextauth_secret"

# RabbitMQ
QUEUE_URL="amqps://user:password@instance.rmq.cloudamqp.com/vhost"